{% extends 'base.html' %}

{% block title %}
    {% if object %}
        Editing "{{ object.title }}"
    {% else %}
        Adding new content
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Editing "{{ object.title }}"
        {% else %}
            Adding new content
        {% endif %}
    </h1>
    <div class="module">
        <h2>Course information</h2>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="save content"></p>
        </form>
    </div>
{% endblock %}